* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #3b82f6;
    --secondary-color: #4a7dff;
    --tertiary-color: #f0f8ff;
    --quaternary-color: #bdbdbd;
    --quinary-color: #5a7cdc;
    --senary-color: #6d6dde;

    --primary-color-dark: #000000;
    --secondary-color-dark: #363636;
    --tertiary-color-dark: #272c31;
    --quaternary-color-dark: #bdbdbd;
    --quinary-color-dark: #1c2644;
    --senary-color-dark: #26264d;


    --color-text-1: #372f3f;
    --color-text-2: #f9f3f3;
}

body {
    width: 100vw;
    min-height: 100vh;
}

#container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    max-width: 400px;
    min-width: 300px;
    background-color: var(--tertiary-color);
    padding: 2em;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.mode-container {
    width: 60px;
    height: 60px;
    background-color: var(--tertiary-color);
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4em;
}

.mode-container:hover {
    scale: 1.1;
}

.mode-container:active {
    scale: 0.9;
}

/* campo de pesquisa */

#search {
    border: 1px solid var(--quaternary-color);
    border-radius: 10px;
    color: var(--color-text-1);
    padding: 4px 12px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 8px;
}

label[for="city-name"] {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#city-name {
    width: 100%;
    flex: 1;
    border: none;
    font-size: 1em;
    background: transparent;
}

#city-name:focus-visible, #city-name:active {
    outline: none;
    background: transparent;
}

#city-name::-webkit-search-decoration,
#city-name::-webkit-search-cancel-button,
#city-name::-webkit-search-results-button,
#city-name::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

#city-name:-webkit-autofill,
#city-name:-webkit-autofill:hover, 
#city-name:-webkit-autofill:focus, 
#city-name:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-text-1);
    transition: background-color 5000s ease-in-out 0s;
}

#search button {
    color: var(--color-text-1);
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

/* fim do campo de pesquisa */

/* detalhes sobre a cidade */

#weather {
    display: none;
    position: relative;
}

#weather.show {
    display: block;
    margin-top: 20px;
}

#title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--color-text-1);
}

#temp {
    background: linear-gradient(90deg, var(--quinary-color), var(--senary-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: var(--color-text-2);
    padding: 20px;
    border-radius: 20px;
}

#temp-value {
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
}

#temp-description {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

@media (max-width: 500px) {
    #title {
        font-size: 1.5em;
    }
    #temp-value {
        font-size: 30px;
        line-height: 45px;
    }
    #temp-description {
        font-size: 18px;
    }
}

/* info section  */

#other-infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.info {
    border-radius: 8px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: var(--color-text-1);
}

.info h2 {
    font-weight: 600;
    font-size: 12px;
}

.info i {
    font-size: 20px;
    width: 20%;
    text-align: center;
}

#temp-max-icon {
    color: #7f1d1d
}
#temp-min-icon {
    color: #0284c7;
}
#umidity-icon {
    color: #0ea5e9;
}
#wind-icon {
    color: #7c3aed;
}

/* alerta */

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4;
}
#alert img {
    width: 200px;
}

/* loading */

#weather.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(-45deg, var(--tertiary-color), var(--primary-color), var(--tertiary-color));
    background-size: 300%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        background-position: 0%;
    } 50% {
        background-position: 100%;
    } 100% {
        background-position: 0%;
    }
}

/* dark mode  */
#container.dark-mode {
    background: linear-gradient(var(--primary-color-dark), var(--secondary-color-dark));
}
#container.dark-mode #modeIcon {
    color: var(--color-text-2);
}
#container.dark-mode #card {
    background-color: var(--tertiary-color-dark);
}
#container.dark-mode .mode-container {
    background-color: var(--tertiary-color-dark);
}
#container.dark-mode #search {
    border: 1px solid var(--quaternary-color-dark);
    color: var(--color-text-2);
}
#container.dark-mode #city-name {
    color: var(--color-text-2);
}
#container.dark-mode #search button {
    color: var(--color-text-2);
}
#container.dark-mode #title {
    color: var(--color-text-2);
}
#container.dark-mode #temp {
    background: linear-gradient(90deg, var(--quinary-color-dark), var(--senary-color-dark));
    color: var(--color-text-2);
}
#container.dark-mode .info {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: var(--color-text-2);
}
#container.dark-mode #alert {
    color: var(--color-text-2)
}
#container.dark-mode #weather.loading::after {
    background: linear-gradient(-45deg, var(--tertiary-color-dark), var(--primary-color-dark), var(--tertiary-color-dark));
    background-size: 300%;
    animation: loading 1s linear infinite;
}
#container.dark-mode #city-name:-webkit-autofill,
#container.dark-mode #city-name:-webkit-autofill:hover, 
#container.dark-mode #city-name:-webkit-autofill:focus, 
#container.dark-mode #city-name:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-text-2);
    transition: background-color 5000s ease-in-out 0s;
}
